@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lora:ital,wght@0,400;0,500;0,700;1,400&display=swap");
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px; }

* {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  color: #E23125; }

body {
  background-color: #F9E0E2; }

.button {
  padding: 17px 34px;
  color: #E23125;
  text-transform: capitalize; }

.button-filled {
  padding: 17px 34px;
  background-color: #E23125;
  border: 0px;
  color: white;
  border-radius: 30px; }

.button-bordered {
  border: 2px solid #E23125;
  background: none;
  border-radius: 30px; }

.container {
  width: 100%;
  max-width: 1200px;
  height: fit-content;
  margin: 0 auto; }

.title {
  font-family: Lora;
  font-size: 78px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  color: #E23125; }

.block-title {
  font-family: lora;
  font-weight: 700;
  font-size: 48px;
  margin-top: 35px;
  line-height: 50px;
  text-transform: capitalize; }

.block-subtitle {
  font-family: inter;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-weight: 700;
  color: #E23125;
  line-height: 24px; }

.block-text {
  margin-top: 35px;
  margin-bottom: 35px; }

.header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header__button-link {
    text-decoration: none;
    color: white; }
  .header__inner {
    display: flex;
    height: fit-content;
    justify-content: space-between;
    align-items: center; }
  .header__logo {
    width: fit-content;
    height: fit-content; }
  .header__nav {
    display: flex; }
  .header__menu {
    display: flex;
    list-style-type: none; }
  .header__link {
    text-transform: capitalize;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 20px;
    color: red;
    transition: 0.5s;
    position: relative;
    transition: all 1s; }
  .header__link::after {
    content: '';
    position: absolute;
    left: 20px;
    top: 32px;
    width: 0px;
    border-bottom: 2px solid red; }
  .header__link:hover::after {
    content: '';
    position: absolute;
    left: 20px;
    top: 32px;
    width: calc(100% - 40px);
    border-bottom: 2px solid red; }

.face-block__inner {
  padding-top: 100px; }
.face-block__subtitle {
  margin-top: 36px;
  text-align: center; }
.face-block__image {
  width: 100%;
  background-image: url(/assets/index/face-block/images/image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: top center;
  height: 600px;
  margin-top: 45px; }

.about__inner {
  margin: 0 auto;
  width: fit-content;
  height: fit-content;
  padding-top: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
.about__image {
  background-image: url(/assets/index/about/images/image.jpg);
  background-position: center center;
  background-size: cover;
  height: 550px;
  width: 45%; }
.about__description {
  width: 45%; }

.services__inner {
  margin: 0 auto;
  width: fit-content;
  height: fit-content;
  padding-top: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
.services__description {
  width: 45%; }
.services__grid {
  width: 45%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 2px solid #E23125;
  border-left: 2px solid #E23125; }
.services .grid-item {
  border-right: 2px solid #E23125;
  border-bottom: 2px solid #E23125;
  padding: 20px 20px; }
  .services .grid-item__icon {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden; }
  .services .grid-item__icon_marketing {
    background-image: url(/assets/index/services/icon/marketing.svg); }
  .services .grid-item__icon_creative {
    background-image: url(/assets/index/services/icon/creative.svg); }
  .services .grid-item__icon_strategy {
    background-image: url(/assets/index/services/icon/strategy.svg); }
  .services .grid-item__icon_technology {
    background-image: url(/assets/index/services/icon/technology.svg); }
  .services .grid-item__title {
    font-family: inter;
    font-weight: 600;
    font-size: 24px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px; }
  .services .grid-item__text {
    text-align: center;
    margin-bottom: 16px; }
  .services .grid-item__link {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: underline;
    line-height: 27px; }

.featured-works__inner {
  padding-top: 200px;
  display: flex;
  flex-direction: column; }
.featured-works__description {
  text-align: center; }
.featured-works__images {
  margin-bottom: 86px;
  display: flex; }
.featured-works__description-text {
  max-width: 620px;
  margin-left: auto;
  margin-right: auto; }
.featured-works__button {
  margin: 0 auto; }

.image-item {
  width: 25%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 400px; }
  .image-item_cela {
    background-image: url(/assets/index/featured-works/images/cela.jpg); }
  .image-item_softy {
    background-image: url(/assets/index/featured-works/images/softy.jpg); }
  .image-item_mfk {
    background-image: url(/assets/index/featured-works/images/mfk.jpg); }
  .image-item_holandria {
    background-image: url(/assets/index/featured-works/images/holandria.jpg); }

.feedback__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 200px; }
.feedback__left-column {
  width: 45%; }
.feedback__right-column {
  width: 45%;
  display: flex;
  align-items: center; }
.feedback__right-content {
  display: flex; }
.feedback__lines {
  padding-top: 20px; }
.feedback__line {
  width: 59px;
  border-bottom: 2px solid #E23125;
  transform: rotate(-60deg); }
.feedback__line + .feedback__line {
  margin-left: 20px; }
.feedback__info {
  margin-left: 26px; }
.feedback__meassage {
  font-weight: 500;
  font-size: 24px; }
.feedback__reviwer-info {
  margin-top: 42px; }
.feedback__reviewer-name {
  line-height: 24px; }
.feedback__reviewer-city {
  font-weight: 600;
  line-height: 24px; }

.clients__inner {
  padding-top: 200px;
  padding-bottom: 200px; }
.clients__title {
  text-align: center;
  margin-bottom: 16px; }
.clients__logos {
  width: 100%;
  border: 1px solid #E23125;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center; }
.clients__logo {
  width: 200px;
  height: 90px;
  display: flex;
  background-position: center;
  background-repeat: no-repeat; }
.clients__softy {
  background-image: url(/assets/index/clients/images/softy.svg); }
.clients__container {
  background-image: url(/assets/index/clients/images/container.svg); }
.clients__bueno {
  background-image: url(/assets/index/clients/images/bueno.svg); }
.clients__mustard {
  background-image: url(/assets/index/clients/images/mustard.svg); }
.clients__cela {
  background-image: url(/assets/index/clients/images/cela.svg); }
.clients__susu {
  background-image: url(/assets/index/clients/images/susu.svg); }

.connect__inner {
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center; }
.connect__title {
  margin-top: 35px; }

.footer .container {
  border-top: 2px solid #E23125; }
.footer__columns {
  width: 100%;
  display: flex;
  height: fit-content;
  justify-content: space-between;
  padding-top: 60px; }
.footer__column {
  width: calc((100% - 90px) / 4);
  height: fit-content; }
  .footer__column a {
    display: block;
    text-decoration: none; }
.footer__logo {
  margin-bottom: 18px; }
.footer__text {
  line-height: 24px; }
.footer__title {
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 18px;
  text-transform: capitalize; }
.footer__link {
  line-height: 24px; }
.footer__link + .footer__link {
  margin-top: 5px; }
.footer__big-title {
  font-size: 28px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 27px;
  text-transform: capitalize; }
.footer__input {
  margin-top: 27px;
  margin-bottom: 27px;
  width: 100%;
  border: none;
  padding: 5px 2px;
  border-bottom: 2px solid #E23125;
  line-height: 24px;
  background: none;
  outline: none; }
  .footer__input input::-webkit-input-placeholder {
    color: #E23125; }
  .footer__input input::-moz-placeholder {
    color: #E23125; }
.footer__social {
  display: flex;
  max-width: 182px;
  height: fit-content;
  justify-content: space-between; }
  .footer__social a {
    display: block; }
.footer__rights {
  text-align: center;
  margin-top: 56px;
  margin-bottom: 34px; }
.footer .social {
  width: 28px;
  height: 28px;
  background-position: center;
  margin-top: 27px;
  background-repeat: no-repeat; }
  .footer .social__linkedin {
    background-image: url(/assets/index/footer/icons/linkedin.svg); }
  .footer .social__facebook {
    background-image: url(/assets/index/footer/icons/facebook.svg); }
  .footer .social__instagram {
    background-image: url(/assets/index/footer/icons/instagram.svg); }
  .footer .social__twitter {
    background-image: url(/assets/index/footer/icons/twitter.svg); }
  .footer .social__dribble {
    background-image: url(/assets/index/footer/icons/dribble.svg); }

/*# sourceMappingURL=index.css.map */
