*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    /* height:80vw; */
    background-color: rgb(194, 194, 194);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{    
    width: 740px;
    height: 555px;
    background-image: url(./map-of-europe-with-countries-and-borders_47243-1655\ \(1\).png);
    background-size: cover;
    position: relative;
}

.city{
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.city-name{
    margin-left: 5px;
    font-weight: 700;
    
}

.circle{
    transform-origin: center center;
    width: 10px;
    height: 10px;
    position: relative;
    background-color: #ff0000;
    border-radius: 100%;
    transition: all 2s;
}

.circle::before{
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid red;
    position: absolute;
    border-radius: 100%;
    left: -6px;
    top: -6px;
    animation: pulse_1 1.5s infinite 0.3s ;
}

.circle::after{
    content: '';
    width: 30px;
    height: 30px;
    border: 1px solid red;
    position: absolute;
    border-radius: 100%;
    left: -11px;
    top: -11px;
    animation: pulse_2 1.5s infinite
}

.circle:hover::before, .circle:hover::after{
    display: none;
}


/* .circle:hover{
    overflow: hidden;
} */

.city-hamburg{
    top:318px;
    left: 308px;
}

.cicrle__hamburg:hover .list{
    display: block;
    transform: rotateY(0deg);
    opacity: 1;
}

.cicrle__madrid:hover .list{
    display: block;
    transform: rotateY(0deg);
    opacity: 1;
}

.cicrle__krakow:hover .list{
    display: block;
    transform: rotateY(0deg);
    opacity: 1;
}

.cicrle__turin:hover .list{
    display: block;
    transform: rotateY(0deg);
    opacity: 1;
}

.city-krakow{
    top:350px;
    left: 377px;
}
.city-turin{
    top:409px;
    left: 292px;
}
.city-madrid{
    top:470px;
    left: 202px;
}

@keyframes pulse_1 {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes pulse_2 {
    0% {
        transform: scale(0.33);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}

.list{
    transform-origin: center center;
    position: absolute;
    width: 200px;
    height: fit-content;
    background-color: grey;
    padding: 10px;
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    left: -25px;
    top: -102px;
    /* display: none; */
    transition: all 2s;
    opacity: 0;
    transform: rotateY(90deg);
}

.list::before{
    content: '';
    border-left: 10px solid transparent;
    border-top: 10px solid grey;
    border-right: 10px solid transparent;
    position: absolute;
    top: 100%;
    left: 20px;
}

.button{
    width: 100%;
    background-color: rgb(255, 20, 71);
    color: white;
    text-transform: uppercase;
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 14px;
}
.button:hover{
    background-color: rgb(136, 0, 45);
}

.arena{
    margin-bottom: 4px;
}

.date{
    margin-bottom: 4px;
    font-style: italic;
}


