*{
    font-size: 36px;
    color: wheat;
}


.block{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    /* padding: 20px 20px 20px 20px; */
}

.block__img{
    background-image: url(./1556708032_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}
 .block__item{
     flex: 0 0 200px;
     height: 300px;
     text-align: center;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: blue;
     margin: 20px 0px;
 }


 .block__row{
     display: flex;
     justify-content: space-between;
     margin-top: 20px;
     flex-wrap: wrap;
     /* flex-direction: row-reverse; */
 }


@media (max-width:614px){
    .block__item_order-up{
        order: -1;
     }
    
     .block__item_order-down{
        order: 1;
     }  
}


@media (max-width:614px){
    .block__item_order-up{
        order: -1;
     }
    
     .block__item_order-down{
        order: 1;
     }  
}

@media (max-width:415px){
    .block__row{
        flex-direction: column-reverse;
    }

    .block__item_order-up{
        order: 0;
     }
    
     .block__item_order-down{
        order: 0;
     }

     .block__item_order-down2{
        order: -1;
        
     }

     
}

 