*{
    box-sizing: border-box;
}
body{
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    color: white;
}
header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    height: 90px;
    background-color: black;
    margin: 0;
    padding: auto calc((100%-1200px)/2);
    font-size: 15px;
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    padding: 0 32px;
    margin: 0;
    width: 1200px;
}

nav{
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
    padding: 0;
    }

nav li {
     list-style-type: none;
     padding: 8px 16px ;

}

.logo{
    display: flex;
    align-items: center;
    padding-top: 4px;
}

.button{
    padding: 8px, 16px;
    background-color: white;
    color: black;
    border-radius: 14px;
}

.firstblock{
    background-image: url(./assets/image/main\ img.jpg);
    width: 100%;
    height: 716px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
h4{
    letter-spacing: 2px;
    color:#C0C0C0;
    line-height: 20px;
    margin: 0;
    padding: 0;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 1px;
    ;
}
h1{
   font-size: 54px;
   line-height: 60px;
   margin:0 0 18px 0; 
}
.textContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.firstblockP {
    width: 580px;
    margin: 0px 0px 14px 0px;
    text-align: center;
    color: #C0C0C0;
}
.iconBottom {
    display: flex;
    margin: 0 0 0 16px;
    padding: 0;
}
.bottomBlock{
    display: flex;
    justify-content: end;
    padding: 0 40px 40px 0;
    width: 100%;
}
.firstblock span{
    font-size: 12px;
    line-height: 12px;
    padding: 0px 0px 0px 6px;
}
.secondBlock{
    background-color: black;
    height: 1558px;
    width: 100%;
    padding: 120px 136px;
}
h2{
    font-size: 40px;
    line-height: 42px;
    font-weight: 400;
    width: auto;
    padding: 0;
    margin: 0;
    text-align: center;
}
.hUnnamed{
    font-size: 30px;
    line-height: 30px;
    margin: 15px 0px 42px 0px;
    text-align: center;
    width: auto;
    color: white;
}
.card {
    width: calc(1200px/2);
    padding: 0px 8px 0px 16px;
    height: 600px;
}

.bckCard1{
    background-image: url(./assets/image/2block/IMAGE\ \(1\).jpg) ;
}
.bckCard2{
    background-image: url(./assets/image/2block/IMAGE\ \(2\).jpg) ;
}
.bckCard3{
    background-image: url(./assets/image/2block/IMAGE\ \(3\).jpg) ;
}
.bckCard4{
    background-image: url(./assets/image/2block/IMAGE\ \(4\).jpg) ;
}
.space{
    display: flex;
    justify-content: space-between ;
}