.block{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.block__img{
    background-image: url(./1556708032_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}
 .block__item{
     flex: 0 0 20%;
     height: 300px;
     text-align: center;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: blue;
 }


 .block__row{
     display: flex;
     justify-content: space-between;
     margin-top: 20px;
 }